include README.rst
include AUTHORS
include MANIFEST.in
include scrapy_useragents/VERSION
recursive-include tests *
global-exclude __pycache__ *.py[cod]
include versioneer.py
include scrapy_useragents/_version.py
